/* @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap); */
@import url('./vars.css');
@import url('./fonts.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    color: var(--color);
}

ul {
    list-style: none;
}

.container {
    width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 13px 0;
    margin-bottom: 70px;
}

.lang__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Tourney', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: var(--color);
    line-height: 18px;
    letter-spacing: 4%;
}

.menu {
    display: flex;
    gap: 10px;
}

.menu__link,
.menu li {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 3%;
    color: var(--color);
}

.hidden {
    display: none;
}
.article {
    margin-bottom: 70px;
}
.title {
    font-family: var(--title-font-family);
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
    text-transform: uppercase;

}

.chapter {
    font-family: 'Farro', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    /* font-style: Light; */
    font-size: 20px;
    letter-spacing: 4%;
   vertical-align: super;
}
.text{
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: 400;
    line-height: 48px;
}


